@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

.template-002 p {
  font-size: 1.1rem;
}
.template-002 h1 {
  font-size: 3rem;
  font-weight: 800;
}
.template-002 .section-1 {
  height: 100vh;
  width: 100%;
}
.template-002 .section-1 .menu {
  height: 8%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.template-002 .section-1 .menu .burger {
  display: flex;
  justify-content: center;
  align-items: center;
}
.template-002 .section-1 .menu .burger span {
  width: 30px;
  height: 3px;
  background-color: #333;
}
.template-002 .section-1 .menu .burger span::before {
  content: "";
  position: absolute;
  transform: translateY(-8px);
  width: 30px;
  height: 3px;
  background-color: #333;
}
.template-002 .section-1 .menu .burger span::after {
  content: "";
  position: absolute;
  transform: translateY(8px);
  width: 30px;
  height: 3px;
  background-color: #333;
}
.template-002 .section-1 .rest {
  background-color: #1556F2;
  width: 100%;
  height: 92%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.template-002 .section-1 .rest .title {
  height: 60%;
  padding: 35px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
  color: #fff;
}
.template-002 .section-1 .rest .title h1 {
  font-size: 3rem;
  font-weight: 800;
}
.template-002 .section-1 .rest .title h1::after {
  content: ".";
  color: #F6421C;
}
.template-002 .section-1 .rest .title p {
  font-family: "Open Sans";
}
.template-002 .section-1 .rest .title button {
  font-family: "Open Sans";
  color: #333;
  background-color: #fff;
  padding: 15px 25px;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  border-radius: 25px;
}
.template-002 .section-1 .rest .figures span {
  display: block;
  width: 180px;
  height: 180px;
  background-color: #fff;
  transform: rotate(45deg) translate(-75px, -75px);
}
.template-002 .section-1 .rest .figures span::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 30px;
  width: 180px;
  height: 180px;
  background-color: #F6421C;
}
.template-002 .section-2 {
  padding: 60px 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.template-002 .section-2 h1 {
  font-size: 3rem;
  font-weight: 800;
  color: #333;
  margin-bottom: 60px;
}
.template-002 .section-2 .cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
}
.template-002 .section-2 .cards .card .rotated-img {
  transform: rotate(45deg) translate(0px, -20px);
  overflow: hidden;
  width: 60px;
  height: 60px;
  border-radius: 10px;
}
.template-002 .section-2 .cards .card .rotated-img #square-img-001 {
  display: block;
  background-image: url("/imgs/marcos-paulo-prado-fu2iZ-0Kybw-unsplash.jpg");
  width: 80px;
  height: 80px;
  background-position: center;
  background-size: cover;
  transform: rotate(-45deg) translate(0px, -15px);
}
.template-002 .section-2 .cards .card .rotated-img #square-img-002 {
  display: block;
  background-image: url("/imgs/toa-heftiba-Yo0R_swQjoA-unsplash.jpg");
  width: 80px;
  height: 80px;
  background-position: center;
  background-size: cover;
  transform: rotate(-45deg) translate(0px, -15px);
}
.template-002 .section-2 .cards .card .rest {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 15px;
}
.template-002 .section-2 .cards .card .rest h3 {
  color: #1556F2;
}
.template-002 .section-2 .cards .card .rest ion-icon {
  font-size: 2rem;
  cursor: pointer;
}
.template-002 .section-3 {
  padding: 60px 35px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.template-002 .section-3 .company {
  display: block;
  width: 120px;
  height: 120px;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}
.template-002 .section-3 .company:nth-child(1) {
  background-image: url("/imgs/ben-sweet-2LowviVHZ-E-unsplash.jpg");
}
.template-002 .section-3 .company:nth-child(2) {
  background-image: url("/imgs/chris-kursikowski-ze5wHM9kplc-unsplash.jpg");
}
.template-002 .section-3 .company:nth-child(3) {
  background-image: url("/imgs/doruk-bayram-gs3duh5iqkw-unsplash.jpg");
}
.template-002 .section-3 .company:nth-child(4) {
  background-image: url("/imgs/marcos-paulo-prado-fu2iZ-0Kybw-unsplash.jpg");
}
.template-002 .section-3 .company:nth-child(5) {
  background-image: url("/imgs/moritz-mentges-5MlBMYDsGBY-unsplash.jpg");
}
.template-002 .section-3 .company:nth-child(6) {
  background-image: url("/imgs/samuel-regan-asante-g4F_ubfTKbU-unsplash.jpg");
}
.template-002 .section-3 .company:nth-child(7) {
  background-image: url("/imgs/sunder-muthukumaran-fd6K_OFlnRA-unsplash.jpg");
}
.template-002 .section-4 {
  padding: 60px 35px;
  background-color: #1556F2;
}
.template-002 .section-4 .plan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}
.template-002 .section-4 .plan .board {
  width: 100%;
}
.template-002 .section-4 .plan .board .tag {
  background-color: #F6421C;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  gap: 10px;
  color: #fff;
}
.template-002 .section-4 .plan .board .tag h1 {
  margin-top: 10px;
  font-size: 4.5rem;
  font-weight: 800;
}
.template-002 .section-4 .plan .board .plan-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  gap: 10px;
  background-color: #fff;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.template-002 .section-4 .plan .board .plan-menu .feautures ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.template-002 .section-4 .plan .board .plan-menu .feautures ul li {
  margin-top: 10px;
}
.template-002 .section-4 .plan .board .plan-menu .feautures button {
  margin-top: 20px;
  background-color: #FBB2A2;
  border: none;
  border-radius: 7px;
  padding: 15px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.template-002 .section-4 .plan .board .plan-menu .feautures button p {
  font-weight: 700;
}
.template-002 .section-4 .plan h1 {
  text-transform: uppercase;
  color: #fff;
  font-size: 3rem;
  font-weight: 800;
}
.template-002 .section-5 .images {
  padding: 70px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.template-002 .section-5 .images .img {
  width: 200px;
  height: 200px;
  transform-origin: 50% 50%;
  transform: rotate(45deg);
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}
.template-002 .section-5 .images .img::before {
  content: "";
  position: relative;
  transform-origin: 50% 50%;
  transform: rotate(-45deg) translateY(-60px);
  display: block;
  width: 280px;
  height: 280px;
  background-position: center;
  background-size: cover;
}
.template-002 .section-5 .images .img:nth-child(1)::before {
  background-image: url("/imgs/ben-sweet-2LowviVHZ-E-unsplash.jpg");
}
.template-002 .section-5 .images .img:nth-child(2) {
  width: 100px;
  height: 100px;
  border-radius: 15px;
  transform: rotate(-45deg) translate(100px, 100px);
}
.template-002 .section-5 .images .img:nth-child(2)::before {
  transform: rotate(45deg) translate(-25px, -5px);
  width: 140px;
  height: 140px;
  background-image: url("/imgs/chris-kursikowski-ze5wHM9kplc-unsplash.jpg");
}
.template-002 .section-5 .images .img:nth-child(3)::before {
  background-image: url("/imgs/doruk-bayram-gs3duh5iqkw-unsplash.jpg");
}
.template-002 .section-5 .text {
  padding: 60px 35px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.template-002 .section-6 {
  background-color: #1556F2;
  padding: 60px 35px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  color: #fff;
}
.template-002 .section-6 .img {
  width: 200px;
  height: 200px;
  transform-origin: 50% 50%;
  transform: rotate(45deg);
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  margin-bottom: 60px;
}
.template-002 .section-6 .img::before {
  content: "";
  position: relative;
  transform-origin: 50% 50%;
  transform: rotate(-45deg) translateY(-60px);
  display: block;
  width: 280px;
  height: 280px;
  background-position: center;
  background-size: cover;
  background-image: url("/imgs/samuel-regan-asante-g4F_ubfTKbU-unsplash.jpg");
}
.template-002 .section-6 ol {
  margin-top: 20px;
  list-style-position: inside;
  list-style: none;
  counter-reset: counter;
}
.template-002 .section-6 ol li {
  counter-increment: counter;
  margin-top: 20px;
  font-size: 1.3rem;
}
.template-002 .section-6 ol li::before {
  content: "0" counter(counter) ".  ";
  color: #fff;
  font-weight: 700;
  font-weight: bold;
}
.template-002 .section-6 ol li:nth-child(n+11):before {
  content: counter(counter) ".  ";
}/*# sourceMappingURL=style.css.map */